$breakpoint-1: 850px;
$breakpoint-2: 600px;
$breakpoint-3: 350px;
.app {
	display: flex;
	flex-direction: column;

	min-height: 100vh;
	gap: 60px;

	.content {
		display: flex;
		justify-content: center;
		align-items: center;
		.grid {
			display: grid;
			grid-template-columns: 1fr 1fr 1fr;
			gap: 10px 30px;

			@media (max-width: $breakpoint-1) {
				grid-template-columns: 1fr 1fr;
				gap: 10px 10px;
			}

			@media (max-width: $breakpoint-2) {
				grid-template-columns: 1fr;
				width: 100%;

				padding: 0px 20px 0 20px;
			}

			.linkContainer {
				aspect-ratio: 14/9;
				width: 250px;
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;

				@media (max-width: $breakpoint-2) {
					width: 100%;
				}

				&.disabled {
					pointer-events: none;
				}
				a {
					text-align: center;
					aspect-ratio: 14/9;
					width: 230px;
					display: flex;
					flex-direction: column;
					justify-content: center;
					align-items: center;
					row-gap: 20px;
					background-color: #383d54;
					color: white;
					font-size: 0.9em;
					transition: all 100ms linear;
					font-weight: bold;
					text-decoration: none;
					&:hover {
						box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.2);
						color: white !important;
						text-decoration: none !important;
						width: 250px;
						row-gap: 30px;
						.svgContainer {
							svg {
								width: 70px;
								height: 70px;
							}
						}
					}

					@media (max-width: $breakpoint-2) {
						font-size: 1.2em;
						width: 95%;
						&:hover {
							box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0);
							width: 100%;

							.svgContainer {
								svg {
									width: 90px;
									height: 90px;
								}
							}
						}
					}

					.svgContainer {
						width: 70px;
						height: 70px;
						@media (max-width: $breakpoint-2) {
							width: 90px;
							height: 90px;
						}
						@media (max-width: $breakpoint-3) {
							width: 60px;
							height: 60px;
						}
						svg {
							transition: all 100ms linear;
							fill: rgb(255, 255, 255);
							width: 60px;
							height: 60px;

							@media (max-width: $breakpoint-2) {
								width: 80px;
								height: 80px;
							}
							@media (max-width: $breakpoint-3) {
								width: 60px;
								height: 60px;
							}
						}
					}
				}
			}
		}
	}
}
